.expandedOrb {
  height: 100%;
  width: 100%;
  /* background-image: url("./../../assets/orb-gradient.png"); */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.expandedOrbContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.infoContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 1000px) {
  .expandedOrb {
    height: 100%;
    width: 100%;
    background-image: url("./../../assets/orb-gradient.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }

  .infoContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
