@font-face {
  font-family: "Chromate-Regular";
  src: url("./assets/fonts/Chromate-Regular.ttf") format("ttf");
}

body {
  color: ivory;
  font-family: "Chromate-Regular", serif;
}

.App {
  background-image: url("./assets/ab-background-logo.png"),
    radial-gradient(circle, rgba(27, 20, 100, 1) 0%, rgba(112, 15, 181, 1) 100%);
  min-height: 100vh;
  background-size: cover;
}

ul,
ol {
  list-style: none;
}

ol.typographic,
ul.typographic {
  list-style: initial;
}

button {
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
}
